.lobbyOne
{
    background-color: #eee;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    margin-bottom: 0.5%;
    color: #111;
    padding: 1%;
    overflow: hidden;
    height: 20vh;
}

.lobbyOne:hover
{
    background-color: #ccc;
}

@media screen and (max-width: 767px) 
{
    .lobbyOne
    {
        height: auto !important;
    }
    
}

.lobbyPictureImg
{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 50%;
    border: 3px solid #111;
}


.flotLeftClassOrSth
{
    float: left;
}

.lobbyTitle
{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 2%;
}

.addedPlayers
{
    text-align: right;
    padding-right: 3%;
    padding-top: 1%;
    font-weight: bold;
    font-size: 20px;
}

.clearer
{
    clear: both;
}
