.clearer
{
    clear: both;
}

.dataGetter
{
    width: 0%;
    height: 0px;
}

.withBig
{
    width: 100%;
}

.toTheLeft
{
    float: left;
}

.myFormClass
{   padding: 5%;
    border-radius: 25px;
    border-color: #eee;
}

.myInputClass
{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.myInputClass input, select
{
    width: 50%;
    border-radius: 5px;
    padding: 1%;
    font-size: 15px;
    background-color: #eee;
}

.aboutInput textarea
{
    width: 90%;
    margin-left: 5%;
    min-height: 400px;
}

.EditPageBanner
{
    width: 100%;
    margin-bottom: 2%;
    color: white;
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 15px;
    font-weight: bold;

}

.EditPageBanner h1
{
    border-top-left-radius: 25px;
    border-top: 2px solid #eee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 0.5%;
    width: 50%;
}