.loadingcontainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.loadingcontainer img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 4s linear infinite;
}

.loadingcontainer span {
  font-size: 50px;
  color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  5% {
    transform: rotate(18deg) scale(1.1);
  }
  10% {
    transform: rotate(36deg) scale(1);
  }
  15% {
    transform: rotate(54deg) scale(1.1);
  }
  20% {
    transform: rotate(72deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.1);
  }
  30% {
    transform: rotate(108deg) scale(1);
  }
  35% {
    transform: rotate(126deg) scale(1.1);
  }
  40% {
    transform: rotate(144deg) scale(1);
  }
  45% {
    transform: rotate(162deg) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  55% {
    transform: rotate(198deg) scale(1.1);
  }
  60% {
    transform: rotate(216deg) scale(1);
  }
  65% {
    transform: rotate(234deg) scale(1.1);
  }
  70% {
    transform: rotate(252deg) scale(1);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  80% {
    transform: rotate(288deg) scale(1);
  }
  85% {
    transform: rotate(306deg) scale(1.1);
  }
  90% {
    transform: rotate(324deg) scale(1);
  }
  95% {
    transform: rotate(342deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
