@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* App.css */
.background {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  background-image: "zagraj-ze-mna/src/assets/back-image.png";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}
.category-button-container {
  margin: 30px;
  display: flex;
}
.category-button {
  display: flex;
  background-color: #5c16c5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease;
  margin-right: 15px;
  width: 30%;
}
.category-button-text {
  font-size: 20px;
}
.category-button:hover {
  background-color: #6633cc;
}
.caption {
  font-size: 64px;
  font-weight: bold;
  margin-left: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for depth */
}
.logout {
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ff8a00;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout:hover {
  background-color: #e52e71;
}
.game-tiles-container {
  width: 90%;
  margin: 0 auto;
  /* background-size: 200% 200%; */
  animation: backgroundAnimation 5s infinite alternate;
  animation-timing-function: ease-in-out;
  /* box-shadow: 0 0 30px rgba(255, 255, 255, 0.5); */
}

.game-tiles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  /*gap: 20px;*/
}

.game-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #111111;
  /* border: 1.5px solid #313131; */
  /*border-radius: 8px;*/
  overflow: hidden;
  transition: all 0.3s ease;
  margin: 10px;
  margin-top: 16px;
  color: white;
  font-family: "Montserrat", sans-serif; /* Use Montserrat font */
}

.game-tile:hover {
  border: 0px transparent;
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 4px 8px rgba(92, 92, 92, 0.75);
  animation: shadowAnimation 5s infinite alternate;
}

.game-tile img {
  margin-bottom: auto; /* Push the image to the top */
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.game-name {
  margin: 10px 0;
  font-size: 16px;
}
.sorting-buttons {
  display: flex;
  margin-left: 20px;
}
.sorting-button {
  background: transparent;
  font-size: 25px;
  font-weight: bold;
  color: #6f598f;
  border: 0px;
  border-bottom: 2px solid #6f598f;
}
.category-content {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  /* border-radius: 8px; */
  background-color: #f9f9f9;
}

/* fun stuff */
.game-tile:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #bf94ff, #6733b4, #5c16c5, #5c16c5);
  background-size: 200% 200%;
  /* border-radius: 8px; */
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.game-tile:hover:before {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .game-tiles-container {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes shadowAnimation {
  0% {
    box-shadow: 0 0 30px #5c16c5;
  }
  50% {
    box-shadow: 0 0 80px #bf94ff, 0 0 30px #5c16c5;
  }
  100% {
    box-shadow: 0 0 30px #bf94ff;
  }
}
