/*SETTINGS DIV*/
/*--------------------------------------------*/
.my_settings
{
    color:white;
    font-size: 40px !important;
}

.my_settings2 
{
    color: rgba(0,0,0,0);
    font-size: 40px !important;
}

.leftFloaterOrSth
{
    float: left;
}

.setting_margin_big
{
    margin-top: 80px !important;
}

.setting_margin_small
{
    margin-top: 70px !important;
}

.my_settings_small
{
    font-size: 30px !important;
    margin: 0% !important;
    padding: 0% !important;
}

.set_none
{
    color: white;
    transform: rotate(0deg);
    z-index: 5;

}

.tableContainerOrSth
{
    width: 25%;
    margin: 0% !important;
    padding: 0% !important;
    margin-top: 10px !important;
}

.tableContainerOrSth table
{
    width: 100% !important;
    margin: 0% !important;
    padding: 0% !important;
}

.tableContainerOrSth table tbody
{
    width: 100%;
    margin: 0% !important;
    padding: 0% !important;
}

.tableContainerOrSth table tbody tr
{
    width: 100%;
    margin: 0% !important;
    padding: 0% !important;
}

.tableContainerOrSth table tbody tr td
{
    width: 50%;
    text-align: center;
    align-items: right;
    margin: 0% !important;
    padding: 0% !important;
    
}

.set_hiden
{
    animation-name: setAnimOff;
    animation-duration: 1s;
    color: white;
    transform: rotate(0deg);
    z-index: 5;
}

.set_shown
{
    animation-name: setAnimOn;
    animation-duration: 1s;
    transform: rotate(180deg);
    color: #ccc !important;
    z-index: 5;
    
}

.My_none
{ 
    display: none;
}

.side_menu_shown
{
    position: fixed;
    right: 0;
    max-width: 50%;
    min-width: 25%;
    height: 100vh;
    z-index: 4;
    background-color: #111;
}

.Myless
{
    max-width: 25%;
    min-width: 25%;
}

.Mymore
{
    max-width: 50%;
    min-width: 50%;
}

.side_menu_hidden
{
    display: none;
}

.settingsHeader
{
    width: 70%;
    margin-left: 10%;
    text-align: center;
    font-size: 25px;
    color: #aaa;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.side_menu_shown a p
{
    color: #888;
    font-size: 20px;
    width: 70%;
    margin-left: 10%;
    text-align: center;
    border-bottom: 2px dotted #aaa;
    padding-bottom: 10px;
}

.side_menu_shown a p:hover
{
    color: #aaa;
    font-weight: bold;
}

.side_menu_shown a 
{
    text-decoration: none;
}



/*NAVABAR*/

.mynavbar
{
    padding-top: 2px !important;
    z-index: 999;
    position: fixed !important;
    width: 100%;
    opacity: 1;
    margin: 0;
}

.mynavbarBig
{
    padding-bottom: 25px !important;
    height: 80px;
    background-color: #4f4f4f;
    /*background-image: linear-gradient(to right, #111, #777);*/
}

.mynavbarSmall
{
    padding-bottom: 9px !important;
    padding-left: 1%;
    background-color: #4f4f4f;
    background-image: linear-gradient(to right, #4f4f4f, #4f4f4f);
    
   
}




/*BANNER = logo + pngs*/

.banner
{
    color: white !important;
    float: left;
}

.banner p
{
    letter-spacing: 2px;
    font-weight: bolder;
    margin: 0px;
    padding-right: 3%;
    float :left;
}

.bannerSmall p
{
    font-size: 27px;
    padding-left: 1%;
    padding-top: 5px;
    
    
}

.bannerBig p
{
    font-size: 35px;
    padding-left: 3%;
}

.bannerBig
{
    text-align: center;
    height: 50px;
    padding-top: 10px;
    padding-left: 1%;
}

.bannerBig:hover
{
    color: white !important;
}

.smallBannerLinks a
{
    border-bottom: 1px dashed #bbb;
    color: white !important;
}

/*IMAGES*/
.myimage
{
    float: left;
    padding: 0;
    padding-top: 5px;
    margin: 0;
}


/*Right side of navbar*/

.mynavbarRight
{
    float: left;
    font-size: 25px;
    padding-right: 2%;
    width: 100%;
    
}

.RightConteiner
{
    float: right;
    width: auto;
    margin-right: 3%;
    margin-top: 10px;
    
}

.mynavbarRight a
{
    width: 100px;
}

.login_div
{
    width: 30%;
    margin-top: 15px;
    background-color: #2f2f2f;
}

.register_div
{
    width: 25%;
    background-color: #2f2f2f;
}

.register_div, .login_div, .accountImage, .not_img, .my_settings
{
    border-radius: 25px;
    margin-top:  15px;
    text-align: center !important;
    margin-bottom: 15px;
    height: 50px;
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}

.register_div:hover, .login_div:hover
{
    font-weight: lighter;
    font-size: 28px;
    animation-name: animTextHover;
    animation-duration: 0.2s;
}

.accountImage:hover, .not_img:hover
{
    border-left: 3px black solid;
    border-right: 3px black solid;
    border-radius: 15px;
    scale: 1.1;
    animation-name: animIconHover;
    animation-duration: 0.2s;
}

.accountImage, .not_img
{
    min-width: 10%;
    
}

.not_img
{
    font-size: 50px;
}

.accountImage
{
    font-size: 40px;
}


/*CLEARER*/

.clear
{
    clear: both;
    margin: 0;
    padding: 0;
    height: 0;
    background-color: white;
}



/*ANIMAJCE, PRZYCISK MAŁY NAVBAR*/

.buttonSmall
{
    color: white !important;
    border: 3px solid white !important;
    font-size: 150%;
}

.navbar-light .navbar-toggler-icon
{
    background-image: url('../../assets/krechy.png') !important;
    color: white !important;
    transform: rotate(0deg);
}


.animOn
{
    animation-name: rotatebutton;
    animation-duration: 0.5s;
    transform: rotate(180deg);
}

.animOff
{
    animation-name: rotatebutton2;
    animation-duration: 0.5s;
    
}

@keyframes rotatebutton {

    0%
    {
        transform: rotate(0);
    }
    100%
    {
        transform: rotate(180deg);
    }
    
}

@keyframes rotatebutton2 {

    0%
    {
        transform: rotate(180deg);
    }
    100%
    {
        transform: rotate(0);
    }
    
}

@keyframes animTextHover {

    0%
    {
        font-size: 25px;
    }
    100%
    {
        font-size: 28px;
    }
    
}

@keyframes animIconHover 
{
    0%
    {
        scale: 1;
        border-left: 0px solid black;
        border-right: 0px solid black;
    }
    
    100%
    {
        scale: 1.1;
        border-left: 3px solid black;
        border-right: 3px solid black;
    }
}


@media screen and (max-width: 400px)
{
    .bannerSmall p
    {
        font-size: 17px;
    }    

    .tableContainerOrSth
    {
        width: 33%;
    }

    .Mymore
    {
        max-width: 75%;
        min-width: 75%;
    }
}