.lobbyOne
{
    background-color: #eee;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    margin-bottom: 0.5%;
    color: #111;
    padding: 1%;
    overflow: hidden;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.lobbyOne:hover
{
    background-color: #ccc;
}

@media screen and (max-width: 1099px) 
{
    .lobbyOne
    {
        height: auto !important;
        flex-direction: column;
        text-align: center;
    }
    .lobbyPicture, .lobbyInfoContainer, .addedPlayers {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
}

.lobbyPictureImg
{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 50%;
    border: 3px solid #111;
}


.flotLeftClassOrSth
{
    float: left;
}

.lobbyTitle
{
    font-weight: bold;
    font-size: 23px !important;
    padding-bottom: 2%;
}
.gameName{
    font-weight: bold;
    font-size: 30px ;
    padding-bottom: 2%;
}
.lobbyDescription{
    font-size: 20px !important;
    font-weight: normal !important;
}

.addedPlayers
{
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -5%;
}

.clearer
{
    clear: both;
}
.player-button {
 
    display: flex;
    padding-right: 30%;
    justify-content: right;
    align-items: center;
    
  }
  
.player-button button {
    
    font-size: 45px;
    display: flex;
    background: none;
    border: none;
    color: #000000;
    width: 60px;
    height: 60px;
    cursor: pointer;
    justify-content: right;
    align-items: center;
    transition: transform 0.5s ease;
    
}

.player-button button:hover {
    animation: spin 1s linear forwards;
}

@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

