:root {
  /* EDIT THE BORDER AND TEXT COLOR HERE */
  --lobbycolor: #caccc2;
  --lobbytextcolor: #29f800;
}
.background {
  background-color: black;
  color: var(--lobbycolor);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

.lobbycontainer {
  background-color: #1c1c1c;
  border: 2px solid var(--lobbycolor);
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px var(--lobbycolor);
  overflow: hidden;
}

.sidebar {
  width: 20%;
  border-right: 2px solid var(--lobbycolor);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.maincontent {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.lobbyheader {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.chatheader {
  margin-top: 10px;
  font-size: 20px;
}

.chatoutput {
  flex-grow: 1;
  border: 1px solid var(--lobbycolor);
  margin-bottom: 10px;
  overflow-y: auto;
  background-color: black;
  color: var(--lobbytextcolor);
}

.inputcontainer {
  display: flex;
  align-items: center;
  color: var(--lobbytextcolor);
}

.inputcontainer input[type="text"] {
  background-color: black;
  color: var(--lobbytextcolor);
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 5px;
}

@media (max-width: 768px) {
  .lobbycontainer {
    flex-direction: column;
    width: 90%;
    height: 90%;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid var(--lobbycolor);
    text-align: center;
  }

  .maincontent {
    width: 100%;
    padding: 5px;
  }

  .chatoutput {
    height: 200px;
  }

  .inputcontainer {
    flex-direction: column;
    align-items: flex-start;
  }

  input[type="text"] {
    width: 100%;
    font-size: 14px;
  }
}
