.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #333; /* Dopasowanie koloru tła */
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 80%;
  color: white; /* Kolor tekstu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9370DB;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #6a4db2;
}

.user-details {
  margin-top: 20px;
  padding: 10px;
  background-color: #444;
  border-radius: 10px;
  color: white;
}

.user-avatar {
  display: block;
  margin-top: 20px;
  max-width: 100%;
  border-radius: 10px;
}
