.player-card {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .player-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .player-info {
    display: flex;
    flex-direction: column;
  }
  
  .player-nickname,
  .player-email {
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .player-detail {
    font-size: 16px;
  }
  
  .ban-button, .unban-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .ban-button {
    background-color: red;
    color: white;
  }
  
  .unban-button {
    background-color: green;
    color: white;
  }