.ImageArea
{
    width: 80%;
    margin-right: 20%;
}


.toTheLeft
{
    float: left;
}

.ImageArea img
{
    width: 100%;
    height: auto;
}

.backgroundHere
{
    background-color: #333;
}

.ImageArea p
{
    margin-top: 20px;
    
}

.biggerFont
{
    font-size: 20px;
}

.MyButtonClass
{
    text-align: center;
    padding: 2%;
    width: 40%;
    background-color: #5c16c5;
    color: white;
    border-radius: 10px;
}

.MyButtonClassSecond
{
    margin-top: 20px;
    width: 100%;
    background-color: #111;
    margin-bottom: 20px;
    
}

.litteSpaceOrSth
{
    width: 100%;
    height: 40px;
}

input::file-selector-button {
    text-align: center;
    padding: 2%;
    background-color: #5c16c5;
    color: white; 
    width: 40%;
    border-radius: 10px;
}